<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sing.earthquake">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="1Hh20bwcHOadLIRvGY5BUjw56qzOQvZF" />
        <activity
            android:name=".ui.ActLogin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActBigForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActRegister"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActShowSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActBuildDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActUpdateBuild"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.photo.SelectPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.photo.ActPreViewIcon"
            android:screenOrientation="portrait" />
    </application>

</manifest>
